USE [master]
GO
/****** Object:  Database [Tienda]    Script Date: 22/03/2024 08:09:17 p. m. ******/
CREATE DATABASE [Tienda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tienda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Tienda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tienda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Tienda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tienda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tienda]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 22/03/2024 08:09:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [int] NOT NULL,
	[Precio] [int] NOT NULL,
	[Imagen] [varchar](100) NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticuloTienda]    Script Date: 22/03/2024 08:09:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticuloTienda](
	[Articulo_Id] [int] NOT NULL,
	[Tienda_Id] [int] NOT NULL,
	[Fecha] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClienteArticulo]    Script Date: 22/03/2024 08:09:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteArticulo](
	[Cliente_Id] [int] NOT NULL,
	[Articulo_Id] [int] NOT NULL,
	[Fecha] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 22/03/2024 08:09:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Direccion] [varchar](100) NULL,
	[Contrasena] [varchar](200) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiendas]    Script Date: 22/03/2024 08:09:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiendas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sucursal] [varchar](50) NOT NULL,
	[Direccion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Tiendas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulos] ON 

INSERT [dbo].[Articulos] ([Id], [Codigo], [Precio], [Imagen], [Stock]) VALUES (9, 1, 1, N'6c0bbbc1-8361-4620-9e50-d25cbfae885d_head and shoulders.jpg', 1)
SET IDENTITY_INSERT [dbo].[Articulos] OFF
GO
INSERT [dbo].[ArticuloTienda] ([Articulo_Id], [Tienda_Id], [Fecha]) VALUES (9, 3, CAST(N'2024-03-22' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Tiendas] ON 

INSERT [dbo].[Tiendas] ([Id], [Sucursal], [Direccion]) VALUES (3, N'Oxxo', N'Ciudad Azteca 3a Seccion')
SET IDENTITY_INSERT [dbo].[Tiendas] OFF
GO
ALTER TABLE [dbo].[ArticuloTienda]  WITH CHECK ADD  CONSTRAINT [FK_ArticuloId] FOREIGN KEY([Articulo_Id])
REFERENCES [dbo].[Articulos] ([Id])
GO
ALTER TABLE [dbo].[ArticuloTienda] CHECK CONSTRAINT [FK_ArticuloId]
GO
ALTER TABLE [dbo].[ArticuloTienda]  WITH CHECK ADD  CONSTRAINT [FK_TiendaId] FOREIGN KEY([Tienda_Id])
REFERENCES [dbo].[Tiendas] ([Id])
GO
ALTER TABLE [dbo].[ArticuloTienda] CHECK CONSTRAINT [FK_TiendaId]
GO
ALTER TABLE [dbo].[ClienteArticulo]  WITH CHECK ADD  CONSTRAINT [FK_ArticulosId] FOREIGN KEY([Articulo_Id])
REFERENCES [dbo].[Articulos] ([Id])
GO
ALTER TABLE [dbo].[ClienteArticulo] CHECK CONSTRAINT [FK_ArticulosId]
GO
ALTER TABLE [dbo].[ClienteArticulo]  WITH CHECK ADD  CONSTRAINT [FK_ClienteId] FOREIGN KEY([Cliente_Id])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[ClienteArticulo] CHECK CONSTRAINT [FK_ClienteId]
GO
USE [master]
GO
